/*

    This code is writen by Ahmed Ayob

*/

@use "../utils" as *;

/*

    Typography

*/
a,
a:visited,
a:active {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-size: 1rem;
  font-weight: 600;
}

h5,
h6,
p {
  font-size: 0.9rem;
  font-weight: 500;
}

:root {
  --f-body: rem(15);
  --f-sm: 1rem;
  --f-md: 1rem;
  --f-lg: 1rem;
  --f-xl: 1rem;
  --f-2xl: 1rem;
}
